{% extends 'master_template.html' %}
{% block content %}
<center>
<div class="about-section">
      <br>
      <br>
     
      <h1>About Us</h1>
     <br>
   </div>
   <h4 style="text-align:center">!! We believe everyone deserves to have a website or online store.!! </h4>
   <div class="row">
     <div class="column">
       <div style="align-content: left;">
         <img src="/static/images/about33.jpg" height="200" width="400" >
       </div>
     </div>
    </div>
</center>     
{% endblock %}
{% block Quote %}
{% endblock %}

{% block button %}
{% endblock %}

{% block featured %}
{% endblock %}

{% block Featured_products %}
{% endblock %}

{% block Latest %}
{% endblock %}

{% block testimonial %}
{% endblock %}

{% block brands %}
{% endblock %}

{% block offer %}
{% endblock %}




   